@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';

img {
  max-width:100%;
}
body {
  font-family:$font-stack;
  margin:0;
  padding:0;
  overflow: hidden;
  font-size:16px;
}
*,
*:after,
*:before {
  @include box-sizing(border-box);
}
